
/*footer*/
footer {
    background-color: #FCFAFA;
    height: 390px;
}

.footer-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer img {
    height: 50px;
}

.office {
    margin: 20px 20px 0 30px;
}

.address {
    margin-left: 20px;
}

.fa-instagram {
    font-size: 3em;
    background-color: pink;
    padding: 8.5px 11px; 
    border-radius: 12px;
    vertical-align: middle;
}

.sns a {
    padding: 20px;
    border-radius: 50px;
}

.fa-line {
    font-size: 4em;
    vertical-align: middle;
}

iframe {
    height: 260px;
    width: 260px;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    height: 230px;
}

.fl-box {
    margin-top: 30px;
    padding-right: 20px;
}

.fl-box a {
    display: block;
    margin: 0 30px 50px 0;
}

.copy-bar {
    color: #796a59;
    display: block;
    text-align: center;
}

