* {
    text-decoration: none;
}

h1 {
    margin: 50px 0;
    text-align: center;
}

.sumple_items {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.sumple_item {
    height: 330px;
    border-radius: 20px;
    width: 400px;
    background-color: rgb(255, 235, 165);
    align-items: center;
    position: relative;
}

.sumple_item a {
    display: block;
    position: absolute;
    top: 30px;
}

.sumple_img {
    width: 400px;
    margin: 0 auto;
}

.sumple_name {
    text-align: center;
}