/********** all **********/
a {
    color: black;
}

.root {
    width: 100vw;
    background-color: #e1d8ce;
    color: rgb(83, 83, 83);
}

h1 {
    text-align: center;
    padding: 1.5rem 0;
}

/********** second all **********/
.return {
    text-align: center;
    margin: 3rem 0;
}

/*header*/
header {
    display: flex;
    padding: 1rem;
}

.header_logo img {
    height: 3rem;
}

.header_menu {
    position: relative;
    margin-top: 1rem;
    margin-left: auto;
}

.header_menu a {
    font-weight: bold;
    text-decoration: none;
    margin-left: 2rem;
}

/***********top***********/

/*topWrapper*/
.topWrapper {
    padding: 1rem 0;
}

.topWrapper_text {
    text-align: center;
}

.topWrapper_text h2,h3 {
    font-weight: lighter;
    padding: 0.25rem 0;
}

/*content*/
.top_content {
    padding: 3rem 5rem;
    width: 70rem;
    margin: 0 auto;
}

.bor_h2 {
    display: flex;
    margin: 2rem auto;
}

.bor_h2 h2 {
    width: 7.7rem;
    text-align: center;
    margin: 0 0.5rem;
}

.border {
    width: 25rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
    border-top: solid 1px rgb(232, 232, 232);
}

.top_text_img {
    display: flex;
} 

.top_text_img img {
    margin-top: 2rem;
    margin-left: auto;
}

.top_content p {
    width: 25rem;
}

.top_viewMore {
    width: 16.7rem;
    height: 5rem;
    margin: 0 auto;
    margin-top: 5rem;
}

.top_viewMore a {
    border: solid 1px rgb(147, 147, 147);
    padding: 2rem 5rem;
    background-color: rgb(237, 237, 237);

}

/*service*/
.tp_txt_img_service {
    position: relative;
}

.top_service_text {
    position: absolute;
    top: 4.5rem;
    left: 0.5rem;
}

.top_service_text h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-decoration: underline #753243 1.5px;
}

.top_service_text p {
    font-size: 1.3rem;
}

/*feature*/
.tft_h3 {
    text-decoration: underline yellow 3px;
}

/*works*/
.top_works {
    height: 545px;
}

.top_works_link {
    display: flex;
    justify-content: space-between;
}

.top_works_link a {
    width: 15.5rem;
}

.top_works_link p {
    width: 15.5rem;
    text-align: center;
}

.top_works_link img {
    height: 13rem;
    margin-right: 0;
}

/*flow*/
.top_flow_items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    text-align: center;
}

.top_flow_item {
    width: 300px;
    height: 200px;
    border: solid 5px #753243;
}

.top_flow_item p {
    width: 250px;
    margin: 0 auto;
}

.fa {
    font-size: 2rem;
    margin: 1rem;
}

.f_title {
    padding: 0.7rem 0;
}

.f_txt {
    text-align: justify;
}

/*plice*/
.top_plice_table {
    margin: 0 auto;
    line-height: 2.8em;
}

.top_plice_table th {
    width: 17rem;
    border-bottom: solid 0.5px rgb(190, 190, 190);
}

.top_plice_table td {
    width: 10rem;
    text-align: center;
    border-bottom: solid 0.5px rgb(190, 190, 190);
}

.fa-circle-check {
    color: orange;
}

.top_plice_table tr:nth-child(even) {
	background: #eeedec;
}

.top_plice_table tr:nth-child(odd) {
	background: #e1d8ce;
}

/*news*/ 
.top_news_table {
    margin: 0 auto;
}

.top_news_table th {
    width: 10rem;
    border-bottom: solid 0.5px rgb(190, 190, 190);
}

.top_news_table td {
    width: 25rem;
    text-align: center;
    border-bottom: solid 0.5px rgb(190, 190, 190);
}

.top_news_table tr:nth-child(even) {
	background: #eeedec;
}

.top_news_table tr:nth-child(odd) {
	background: #e1d8ce;
}

/*footer*/
footer {
    display: flex;
    padding: 1rem 5rem; 
    background-color: #e1d8ce;
}

.footer_logo img {
    width: 200px;
}

.footer_sns {
    display: flex;
    margin-top: 1rem;
}

.footer_instagram {
    margin-right: 3rem;
    margin-left: 1.5rem;
}

.footer_menuLinks a {
    display: block;
}

.footer_document a {
    display: block;
}

.footer_link {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: 2rem auto;
}

.footer_links {
    margin: 0 auto;
}

.copy {
    text-align: center;
    margin-top: 120px;
}

/********** news **********/
.news_table {
    padding: 5rem 0;
    margin: 0 auto;
}

.news_table th {
    width: 200px;
    height: 50px;
    border-bottom: solid 1px gray;
}

.news_table td {
    width: 500px;
    text-align: center;
    border-bottom: solid 1px gray;
}

/********** works **********/
.works_link {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.works_link img {
    width: 300px;
}

/********** company **********/
.company_table {
    margin: 3rem auto;
    line-height: 2em;
}

.company_table th {
    width: 300px;
    border-bottom: solid 0.5px rgb(190, 190, 190);
}

.company_table td {
    width: 600px;
    padding: 0.5rem 0;
    padding-left: 1em;
    border-bottom: solid 0.5px rgb(190, 190, 190);
}

.company_table1 {
    margin-top: 0;
}

.company_table1 tr:nth-child(even) {
	background: #eeedec;
}

.company_table1 tr:nth-child(odd) {
	background: #e1d8ce;
}

.company_table2  tr{
    background-color: #eeedec;
}

/********** privacy **********/
.privacy {
    width: 800px;
    margin: 0 auto;
}

.privacy_content {
    margin-bottom: 2rem;
}

.privacy_title {
    padding-bottom: 0.5rem;
}

/********** transaction **********/
.transaction_table {
    margin: 0 auto;
    line-height: 2em;
}

.transaction_table th {
    width: 300px;
    border-bottom: solid 0.5px rgb(190, 190, 190);
}

.transaction_table td {
    width: 600px;
    padding: 0.5rem 0;
    padding-left: 1em;
    border-bottom: solid 0.5px rgb(190, 190, 190);
}

.transaction_table tr:nth-child(even) {
	background: #eeedec;
}

.transaction_table tr:nth-child(odd) {
	background: #e1d8ce;
}





/*タブレット*/
@media all and (max-width: 1000px) {
    /*header*/
    header {
        padding: 0.5rem;
    }
    .header_logo img {
        height: 2rem;
    }

    .header_menu {
        display: none;
    }

    /*content*/
    .top_content {
        width: 100%;
    }

    .border {
        width: 22rem;
    }

    /*service*/
    .top_service_text {
        top: 3rem;
        left: 0;
    }
    .top_service_img,.top_feature_img {
        width: 400px;
    }

    /*feature*/
    .top_feature {
        height: 550px;
    }
    .tp_txt_img_feature {
        position: relative;
    }

    .top_feature_text {
        position: absolute;
        top: 1.5rem;
    }

    /*footer*/
    .footer_link {
        width: 500px;
        margin-left: auto;
    }
} 




/*スマホ*/
@media all and (max-width: 600px) {
    /*all*/
    main {
        margin-top: 50px;
    }

    h1 {
        font-size: 18px;
        padding: 0.5rem 0;
    }

    h2,h3 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    table {
        font-size: 13px;
    }

    /*header*/
    #header,#header_parts {
        width: 100vw;
        position: fixed;
        top: 0;
        z-index: 100;
        background-color: white;
    }

    /*headerMenu*/
    .nav {
    display: block;
    margin-left: auto;
    }  
    /* チェックボックスを非表示にする */
    .drawer_hidden {
    display: none;
    }
    
    /* ハンバーガーアイコンの設置スペース */
    #drawer_open {
        margin-top: 1rem;
    }

    #drawer_open.invert {
        margin-top: 0;
    }

    .drawer_open {
    display: flex;
    width: 50px;
    align-items: center;
    position: relative;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
    }
    
    /* ハンバーガーメニューのアイコン */
    .drawer_open span,
    .drawer_open span:before,
    .drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: rgb(179, 179, 179);
    transition: 0.5s;
    position: absolute;
    }
    
    /* 三本線の一番上の棒の位置調整 */
    .drawer_open span:before {
    bottom: 8px;
    }
    
    /* 三本線の一番下の棒の位置調整 */
    .drawer_open span:after {
    top: 8px;
    }
    
    /* アイコンがクリックされたら真ん中の線を透明にする */
    #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
    }
    
    /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
    #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
    }
    
    #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
    }
    
    /* メニューのデザイン*/
    #nav_content {
        margin-top: 21px;
    }

    #nav_content.invert {
        margin-top: -3px;
    }

    .nav_content {
    width: 100%;
    height: 350px;
    position: fixed;
    top: 3rem;
    left: 200%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: #fff;
    transition: 0.3s;
    opacity: 0.95;
    }
    
    /* メニュー黒ポチを消す */
    .nav_list {
    list-style: none;
    text-align: center;
    padding: 0;
    }
    
    /* アイコンがクリックされたらメニューを表示 */
    #drawer_input:checked ~ .nav_content {
    left: 0;/* メニューを画面に入れる */
    }

    .nav_item {
    margin: 50px 0;
    }

    .nav_item p{
    display: inline-block;
    }

    .nav_item a {
    color: black;

    }
    
    /*root*/
    .root {
        position: fixed;
        z-index: 100;
        top: 47px;
    }

    /*topWrapper*/
    .topWrapper_text h2,h3{
        padding: 0;
    }

    /*content*/
    .top_content {
        padding: 0;
        width: 100vw;
    }

    .bor_h2 {
        margin: 0.5rem 0;
    }

    .border {
        width: 10rem;
    }

    .top_text_img img {
        width: 40vw;
        height: auto;
    }

    /*service*/
    .top_service {
        height: 250px;
    }
    
    .top_service_text {
        top: 2rem;
        left: 0.5rem;
    }

    .top_service_text h3 {
        font-size: 16px;
    }

    .top_service_text p {
        width: 200px;
        font-size: 14px;
    }

    /*works*/
    .top_works {
        display: none;
    }
    .top_works_link img {
        margin: 0 auto;
        height: 9rem;
    }

    /*flow*/
    .top_flow_items {
        display: block;
        margin-bottom: 0;
    }

    .top_flow_item {
        height: 180px;
        margin: 5px auto;
    }

    

    /*footer*/
    footer {
        display: block;
        position: relative;
        padding: 0.5rem;
        height: 250px;
    }

    .footer_logo img {
        margin: 0 auto;
    }

    .footer_companyInfo {
        display: none;
    }

    .footer_sns {
        width: 9rem;
        margin: 0 auto;
        margin-top: 20px;
    }

    .footer_instagram {
        margin-left: 0;
    }

    .footer_link {
        width: auto;
    }

    .footer_menuLinks {
        display: none;
    }

    .footer_document {
        width: 100vw;
        padding: 0 2rem;
    }

    .footer_document a {
        display: flex;
        font-size: 10px;
        justify-content: space-around;
    }

    .footer_link a {
        margin: 0.2rem 0;
    }

    .copy {
        margin: 0;
    }

}


