/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {

}
  
/* スマホ向けレイアウト */
@media all and (max-width: 660px) {
    h1 {
        font-size: 18px;
        margin: 30px 0;
    }

    h2 {
        font-size: 18px;
    }

    li {
        font-size: 13px;
        line-height: 3em;
    }
    
    span {
        font-size: 13px;
    }

    .s-plices {
        width: 95%;
    }

    .s-plices p {
        width: 300px;
        font-size: 15px;
        margin: 0 auto;
    }

    /*plice*/
    .plice-boxs {
        display: block;
        margin-top: 50px;
    }

    .fa-regular {
        font-size: 1em;
    }

    /*option*/
    .various {
        margin: 30px 0;
    }
    
    table {
        font-size: 12px;
        margin: 0 auto;
    }

    .month-plice th {
        line-height: 1.5em;
    }

    .month-plice td {
        padding: 0;
    }

    tr {
        line-height: 2.5em;
    }
}