/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {

}
  
/* スマホ向けレイアウト */
@media all and (max-width: 660px) {

/*top_wrapper*/
   .service {
    height: 200px;
    background-size: 100% auto;
    margin-top: 90px;
    margin-bottom: 50px;
   }    

   .service-text {
    width: 80vw;
    text-shadow: 3px 0px 2px #796a59;
    position: absolute;
    top: 8px;
    left: 8vw;
   }

   .service h1 {
      font-size: 23px;
      line-height: 1.5em;
   }

   .service h2 {
      color: rgb(68, 68, 68);
      font-size: 12px;
      line-height: 0.9em;
      text-shadow: none;
   }

/*all title*/
   .title {
    font-size: 20px; 
    padding: 20px 0 0 10px;
   }   
/*制作実績*/
   .sumple {
    margin-top: 30px;
   }

   .sumple-item {
    display: block; 
    position: relative;
   }

   .sumple-item a {
    display: flex;
    margin-bottom: 30px;
   }

   .sumple-item p {
    margin-top: 50px;   
   }

   .sumple-img {
    width: 65%;
   }

   .reson-blog {
    display: block;
   }

   .all {
    margin-top: 50px;
   }

/*低価格*/
   .reason {
    margin-top: 30px;
    width: auto;
    height: 400px;
    background-color: rgb(255, 249, 242);
   }
   
   .reason-items {
    width: 100%;
    left: 0;
    margin: 0 5%;
    position: static;
   }

   .reason-item {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
   }

   .reason-item p {
    font-size: 15px;
    padding: 20px 0;
    margin: 20px 20px;  
    text-align: left;  
    display: block;
   }

   .reason-item br {
    display: none;
   }

   .reason-2 {
    display: block;
    margin: auto;
   }

/*お知らせ*/
   .blog {
    width: 100%;
    background-color: #fcfcf8;
    padding-bottom: 1px;
    margin-top: 30px;
   }
   .blog-items {
    width: 100%;
    margin-left: auto;
   }
   .b-item {
    width: 300px;
    margin: 50px auto;
   }   

/*制作の流れ*/
   .stage {
    display: block;
   }

   .f-item {
    height: 170px;
    width: 300px;
   }

   .fa {
    font-size: 30px;  
    margin-top: 15px;
   }
   
   .f-txt {
    font-size: 13px;  
    text-align: left;
    margin-top: -3px;
   }

   
}
